body {
    min-height: 100vh;
    background-color: rgb(189, 177, 172);
}

h3, p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(98, 54, 8);
}

h3 {
    font-size: 6vh;
}

p {
    font-size: 2.5vh;
}

.background-logo {
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
}
