body {
    min-height: 100vh;
    background-image: url(../images/running.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: rgb(250, 240, 232);
    font-family: Georgia, 'Times New Roman', Times, serif;

}

h1, h3, #moto {
    text-align: center;
    letter-spacing: 0.3vw;
}

.logo {
    width: 17vw;
    height: auto;
    object-fit: contain;
}

h1 {
    font-size: 10vh;
}

h3 {
    font-size: 5vh;
}

#map {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vh 0 5vh 2vh;
}

#schedule {
    font-size: 2.5vh;
    line-height: 5vh;
    letter-spacing: 0.15vw;
    margin-right: 2vh;
}

.content {
    border: 3px solid rgb(241, 218, 203);
    border-radius: 15px;
    position: relative;
    margin: 5rem 25rem;
}

#moto {
    font-size: 3vh;
    letter-spacing: 0.2vw;
    line-height: 7vh;
    padding: 10vh;
    font-family: cursive;
}

#personal-info {
    margin: 5vh 0.3vh 3vh 0.3vh;
}

#firstname, #lastname, #email, #phone-number, #birthdate {
    width: 20vw;
    height: 3vh;
    display: block;
    border-radius: 7px;
    color: rgb(98, 54, 8);
    margin-top: 2vh;
}

.firstname, .lastname, .email, .birthdate, .phone-number, .know-current-member, .hear-about-us, .notification, .liability-waiver {
    margin: 4vh 3vw 2vh 3vw;
    letter-spacing: 0.3vw;
    font-size: 1.2rem;
}

#firstname, #lastname, #email, #birthdate, #phone-number, #know-current-member, #hear-about-us, #notification, #liability-waiver, .submit, .clear {
    background-color: rgb(189, 177, 172);
}

#know-current-member {
    width: 30rem;
    height: 10vh;
    display: block;
    border-radius: 10px;
    color: rgb(98, 54, 8);
    margin-top: 2vh;
}

input:hover, textarea:hover, option:hover, select:hover, button:hover {
    border-color: rgb(93, 78, 74);
    border-width: 0.2rem;
}

#hear-about-us {
    width: 20vw;
    height: 4vh;
    border-radius: 20px;
    color: rgb(98, 54, 8);
}

.liability-waiver {
    line-height: 4vh;
    margin: 5vh 3vw 5vh 3vw;
    color: rgb(21, 10, 1);
}

.liability-waiver-decline {
    display: block;
}

.submit-clear {
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit, .clear, a {
    width: 8vw;
    height: 4vh;
    border-radius: 25px;
    color: white;
    margin-bottom: 5vh;
}

a:focus, a:active, .submit:focus, .submit:active, .clear:focus, .clear:active {
    outline: none;
    text-decoration: none;
}

.map {
    display: flex;
}

#map, #schedule {
    flex: 1;
}

footer {
    text-align: center;
    margin-top: 7vh;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 2vh 0 5vh 0;
    
}

#shop_icon {
    width: 50px; 
    height: 50px;
}
