body {
    min-height: 100vh;
    background-image: url(images/running.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

h1, h3 {
    text-align: center;
    color: white;
}

.logo {
    width: 15vw;
    height: auto;
    object-fit: contain;
}

h1 {
    font-size: 10vh;
}

h3 {
    font-size: 5vh;
}

#moto {
    font-size: 3vh;
}

.container {
    display: flex;
}

#map, #schedule {
    flex: 1;
}

